.note__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.note__section {
  flex: 1;
  margin-right: 50px;
  margin-left: 25px;
  background-color: lightgray;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.note__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.note__card--buttons {
  display: flex;
  flex-direction: row;
}
