@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.time-wrapper {
  font-size: 40px;
}
.dark-mode {
  transition: 1s;
  background-color: rgb(39, 38, 48);
  color: white;
}

.wrapper__lists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
