.input-wrapper {
  display: flex;
  justify-content: center;
}
.timer__set {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}

.lables {
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style-type: none;
  margin: 20px;
  padding-right: 20px;
}
.lables li {
  margin: 0px 10px;
}

.time-container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.button-wrapper button {
  display: flex;
  padding: 0px 20px;
  margin: 0px 10px;
}
.button-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-top: 20px;
}
.form_container h4 {
  text-align: center;
}
