.container--login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.form--login fieldset {
  border-style: none;
}
.form--login h1 {
  display: flex;
  justify-content: center;
}

.form--login h2 {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}
.form--login button {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 5px 10px;
  margin: 10px;
  background: transparent;
  border: none;
  color: #3f5e86;
  font-size: 17px;
  font-weight: 700;
  border-radius: 50px;
}
.form--login button:hover {
  color: #528ddb;
  background: white;
  border-radius: 50px;
  transition: 0.6s;
  cursor: pointer;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.form-control {
  border-radius: 15px;
  padding: 5px;
}
.login__buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.second__login--container {
  font-family: "Raleway", sans-serif;
  border: rgb(212, 212, 212) 1px solid;
  padding: 35px 50px;
  margin-bottom: 15px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.second__login--container--reg {
  font-family: "Raleway", sans-serif;
  border: rgb(212, 212, 212) 1px solid;
  padding: 35px 50px;
  margin-bottom: 15px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.fieldset__login input {
  border: rgb(172, 172, 172) 1px solid;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px;
}
.link--register {
  padding-left: 40px;
}
.link--register a {
  color: #3f5e86;
}
.link--register a:active {
  color: #3f5e86;
}
.fieldset__login--reg input {
  border: rgb(172, 172, 172) 1px solid;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px;
  margin-left: 30px;
}
.reg__form--title {
  padding-right: 23px;
}

.fieldset__login--reg--buttons button {
  border-radius: 50px;
  padding: 8px;
  border-style: none;
}
.fieldset__login--reg--buttons {
  padding-left: 880px;
  display: flex;
  flex-direction: row;
}
.fieldset__login--reg--img input {
  border: rgb(172, 172, 172) 1px solid;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px;
  margin-left: 30px;
}
.fieldset__login--reg--img label {
}
.fieldset__login--reg--img {
  margin-left: 80px;
}
.email {
  margin-right: 1px;
}
.cancel a:visited {
  color: #3f5e86;
}
.cancel a:visited:hover {
  color: #3f5e86;
}
.cancel a {
  text-decoration: none;
}
